.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_list {
  display: flex;
  list-style: none;
}

.login_code {
  font-size: 20px;
}

.login_list li {
  margin-right: 10px;
}
